form, input, select, button {
    font-family: Palatino, sans-serif;
    font-size: 16px;
}

input {
    border-radius: 5px;
}

button {
    cursor: pointer;
    border-radius: 4px;
    text-decoration: none;
    background-color: aliceblue;
}

button:hover {
    background-color: gainsboro;
}

