.links {
    position: relative;
    left: 160px;
    box-sizing: border-box;
    width: 80%;
    border: 2px dashed white;
    border-radius: 5px;
}

.links > a {
    text-decoration: none;
    padding: 10px;
    margin: 20px;
    display: inline-block;
    border-radius: 10px;
    background-color: lavenderblush;
    font-size: 20px;
    color: lightskyblue;
}

.links > a:link {
    color: lightskyblue;
}

.links > a:visited {
    color: lavender;
}

.links > a:hover {
    color: lightskyblue;
    background-color: lavender;
    text-transform: uppercase;
}

.links > a:active {
    color: lavender;
}