body {
    background-image: url("http://www.l-ateliergourmand.com/images/s3.amazonaws.com/pixblix_production/art_images/970/abstract-light-wave-powerpoint-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

nav {
    position: relative;
    left: 300px;
    box-sizing: border-box;
    width: 50%;
}

.menu {
    list-style: none;
    display: inline-block;
    text-align: center;
}

.menu > li > a {
    text-decoration: none;
}

.menu > li > a:link {
    color: mediumpurple;
}

.menu > li > a:visited {
    color: mediumpurple;
}

.menu > li > a:hover {
    color: white;
    font-weight: bold;
}

.menu > li > a:active {
    color:mediumpurple;
}

.main-menu {
    display: inline-block;
    color: mediumpurple;
    font-size: 20px;
    font-family: Palatino, serif;
}

.secondary-menu > li{
    background-color: lavender;
    border-radius: 5px;
    margin: 10px auto;
    padding: 12px;
    display: inline-block;
}

.current-page {
    font-weight: bold;
    text-transform: uppercase;
}