* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: aliceblue;
}

.head {
  font-family: 'Comic Sans MS', cursive, sans-serif;
  font-size: 44px;
  color: #53a1ff;
  display: flex;
  text-align: center;
  justify-content: space-around;
  margin-top: 100px;
}

#player {
  display: inline-block;
  margin-left: 100px;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  font-weight: bold;
}

#computer {
  display: inline-block;
  margin-left: -96px;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  font-weight: bold;
}

.status-message, .form, .guess-history {
  text-align: center;
  padding-top: 20px;
}

.message, .error-message {
  font-size: 18px;
  font-family: 'Arial Black', Gadget, sans-serif;
  color: #ff3963;
}

.player-guess, .computer-guess {
  width: 250px;
  height: 40px;
  font-size: 20px;
  border: #53a1ff solid 2px;
  border-radius: 10px;
  background-color: mintcream;
}

.button {
  margin-top: 20px;
  margin-left: 20px;
  width: 150px;
  height: 40px;
  font-size: 20px;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  color: mintcream;
  background-color: #b5e3ff;
  border-radius: 10px;
}

.button:disabled {
  color: gainsboro;
  background-color: aliceblue;
}

.button:hover:enabled {
  cursor: pointer;
  background-color: azure;
  color: #b5e3ff;
}

 h2 {
  font-family: 'Arial Black', Gadget, sans-serif;
  font-size: 22px;
  text-decoration: underline;
  text-align: center;
  padding-top: 30px;
}

.guess-history-name {
  margin: 10px 5px;
  display: flex;
  justify-content: space-around;
  font-family: 'Arial Black', Gadget, sans-serif;
}

.guess-history {
  display: flex;
  justify-content: space-around;
}

.guess-history > ul {
  padding-top: 20px;
  list-style: none;
  display: inline-block;
  font-family: 'Arial Black', Gadget, sans-serif;
  font-weight: lighter;
  color: cornflowerblue;
}


